* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#map {
    height: 100vh;
}