* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#map {
    z-index: 1;
    height: 100vh;
}

#updatePos {
    z-index: 2;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    padding: 10px 15px;
    background-color: darkgrey;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
}

.hidden {
    display: none;
}

div.group {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: lightgrey;
}

input#useStreets {
    margin-right: 8px;
}